[Unit]
Description=Darwin-Ach Ros Bridge Auto Server
After=network.target

[Service]
Type=simple
User=ubuntu
Group=admin
ExecStart=/bin/bash /etc/darwin-legacy/darwin_ach_ros.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
